.game-container {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.game-container div {
  height: 40px;
  width: 40px;
}

.bomb {
  background-color: rgb(168, 0, 0);
}

.checked {
  background-color: rgb(11, 122, 11);
}